
<div class="bg-blue-50 h-screen	flex justify-center items-center">
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="myForm">
      <div class="mb-4">
        <app-input-control formControlName="name" [id]="'username'" [placeholder]="'Name'" [label]="'Name'"></app-input-control>
        <p *ngIf="myForm.get('name')?.hasError('required') && myForm.get('name')?.touched" class="text-red-500 text-xs italic">Name required</p>
      </div>
      <div class="mb-6">
        <app-input-control formControlName="email" [id]="'email'" [placeholder]="'Email ID'" [label]="'Email'"></app-input-control>
        <p *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched" class="text-red-500 text-xs italic">Email Required</p>
        <p *ngIf="myForm.get('email')?.hasError('email') && myForm.get('email')?.touched" class="text-red-500 text-xs italic">Email Invalid</p>
      </div>
      <div class="flex items-center justify-between gap-4">
        <button (click)="submitData()" class="flex-1 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          Submit
        </button>
        <button (click)="disableForm()" [ngClass]="myForm.disabled ? 'bg-blue-400' : 'bg-red-400'" class="flex-1 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
          {{this.myForm.disabled ? 'Enable All' : 'Disable All'}}
        </button>
      </div>
    </form>
  </div>
</div>
